<div class="container">

  <p>アカウント</p>
  <p>メールアドレス：<%= @user.email %></p>
  <p>パスワード：*********</p>

  <p><%= link_to "編集", edit_user_registration_path %></p>
  <p><%= link_to "プロフィール", profile_path %></p>

</div>
