<div class="search mb-3 w-75">
  <%= form_with url: search_path, class:"d-inline-flex w-100", method: :get do |f| %>
    <% f.label :area %>
    <%= f.text_field :area, placeholder:"エリア名を入力", class:"form-control w-100" %>
    <% f.label :word %>
    <%= f.text_field :word, placeholder:"キーワードを入力", class:"form-control w-100 mx-1" %>
    <%= f.submit "検索", class:"btn btn-warning mx-1" %>
  <% end %>
</div>
