<div class="mb-3 w-100">
  <%= form_with url: search_by_area_path, class:"d-inline-flex w-100", method: :get do |f| %>
    <% f.label :area %>
    <%= f.text_field :area, placeholder:"エリア名を入力", class:"form-control w-100" %>
    <%= f.submit "検索", class:"btn btn-warning mx-1" %>
  <% end %>
</div>
